[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pymupdf = "*"
tika = "*"
spacy = "*"
docx2pdf = "*"
fuzzysearch = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
ipykernel = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
